/* основной цвет текста #212121 */
/* вторичный цвет #757575 */
/* белый #FFFFFF */
/* акцент #2196F3*/
/* шапка #FFFFFF */
/* тело #E5E5E5*/
/* команда вторичный #F5F4FA */
/* подвал #2F303A */

.page {
  background-color: #e5e5e5;
  color: #212121;
}

.header-logo:hover,
.header-logo:focus {
  color: #2196f3;
}
.header-logo-web {
  color: #2196f3;
}

.header-site-nav:hover,
.header-site-nav:focus {
  color: #2196f3;
}

.header-adress {
  color: #757575;
}

.header-adress:hover,
.header-adress:focus {
  color: #2196f3;
}
