/* основной цвет текста #212121 */
/* вторичный цвет #757575 */
/* белый #FFFFFF */

.header-logo:hover,
.header-logo:focus {
  color: #2196f3;
}
.header-logo-web {
  color: #2196f3;
}

.header-site-nav:hover,
.header-site-nav:focus {
  color: #2196f3;
}

.header-adress {
  color: #757575;
}

.header-adress:hover,
.header-adress:focus {
  color: #2196f3;
}
